@import url(reset.css);
@import url(font-face.css);

body{
	background: url(../img/fondoBody.jpg) repeat;
	font-family: KlavikaRegular, Arial, Helvetica, sans-serif;
}

#wrap{
	width: 984px;
	display: block;
	margin: 20px auto;
	float: left;
	height: auto;
	position:absolute;
    left: 50%;
    margin-left: -492px;
	z-index: 10;
}

.sombra-top-wrap {
	float: left;
	width: 984px;
	height: 13px;
	background-image: url(../img/spritesPNG.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

#header {
	height: 130px;
	width: 100%;
	float: left;
	background-color: #FFF;
}

#header h2 {
	float: left;
	width: 314px;
	height: 123px;
	background-image: url(../img/spriteJPG.jpg);
	background-repeat: no-repeat;
	background-position: -277px -888px;	
	text-indent: -9999px;
}

#menu {
	float: right;
	height: 40px;
	width: 280px;
	font-size: 18px;
	margin-top: -10px;
}

.loguineado {
	float:right;
	height: 70px;
	width:350px;
	margin-left: 50px;
	margin-top: 7px;
	background-color: #2873b6;
	color: #FFF;
}

.loguineado img {
	float: left;
	margin: 10px;
}

.loguineado .nombreLogin {
	float: left;
	height: 70px;
	line-height: 70px;
	margin-left: 15px;
	margin-right: 20px;
	width: 200px;
	overflow: hidden;
}

.loguineado a {
	float: left;
	height: 20px;
	width: 70px;
	background-color: #F90;
	margin-top: 25px;
	padding-top: 4px;
	text-align: center;
	color: #000;
	text-decoration: none;
	margin-left: 4px;
}

.loguineado a:hover {
	color:#FFF;
}

.sinLogin {
	float:right;
	height: 70px;
	width:450px;
	margin-top: 7px;
	color: #666;
	background-image: url(../img/spritesPNG.png);
	background-repeat: no-repeat;
	background-position: -150px -18px;	
}



.ingresarConFacebook {
	float: left;
	height: 70px;
	line-height: 70px;
	margin-left: 15px;
	margin-right: 20px;
	width: 500px;
	overflow: hidden;	
}


.boton-login {
	float: left;
	width: 89px;
	height: 37px;
	background-image: url(../img/spritesPNG.png);
	background-repeat: no-repeat;
	text-align: center;
	color: white;
	padding-top: 0px;
	z-index: 100;
	background-position: -624px -25px;
}


a:hover .boton-login {
	color: #000;
}

a:hover .boton-conocenos {
	color: #06C;
}

.boton-conocenos {
	float: left;
	width: 109px;
	height: 35px;
	background-image: url(../img/spritesPNG.png);
	background-position: -35px -21px;
	background-repeat: no-repeat;
	text-align: center;
	color: #fff;
	padding-top: 4px;
	margin-right: 40px;
	font-family: KlavikaMedium;
}



#contenido {
	height: auto;
	width: 100%;
	float: left;
	background-color: #FFF;
	padding-bottom: 0px;
}

.titulo-con-fondo {
	float: left;
	width: 984px;
	text-align: center;
	height: 50px;
	background-image: url(../img/spriteJPG.jpg);
	background-repeat: no-repeat;
	background-position: 19px -395px;
	color: #FFF;
	margin-top: 30px;
}

.banner-ley {
	float: left;
	width: 984px;
	text-align: center;
	height: 377px;
	background-image: url(../img/spriteJPG.jpg);
	background-repeat: no-repeat;
	background-position: -2px 0px;
	color: #000;
	margin-top: 30px;
	margin-bottom: 40px;	
}

.contenido-banner {
	float: left;
	width: 906px;
	height: 346px;
	margin-left: 38px;
	margin-top: 6px;
	overflow: hidden;
}

.contenido-banner h1 {
	float: left;
	width: 100%;
	height: 120px;
	font-size: 50px;
	font-family: KlavikaMedium;
	color: #3c3b3c;
	padding-top: 50px;
}

.cantidad-votos {
	float: left;
	width: 100%;
	height: 22px;
	padding-top: 8px;
	font-size: 17px;
	color: #3c3b3c;
}

.banner-botones {
	float: left;
	width: 100%;
	height: 96px;
	
	font-size: 42px;
	font-family: KlavikaMedium;
}

.banner-botones a {
	color: #FFF;
}

.banner-botones-voto-en-contra {
	float: left;
	width: 100%;
	height: 96px;
	
	font-size: 42px;
	font-family: KlavikaMedium;
}

.banner-botones-voto-en-contra a {
	color: #FFF;
}

.banner-botones-voto-a-favor {
	float: left;
	width: 100%;
	height: 96px;
	
	font-size: 42px;
	font-family: KlavikaMedium;
}

.banner-botones-voto-a-favor a {
	color: #FFF;
}

.banner-botones a:hover .boton-positivo {
	background-image: url(../img/voto-positivo-todo.jpg);
	background-position: 0px -192px;
}

.banner-botones a:hover .boton-negativo {
	background-image: url(../img/voto-negativo-todo.jpg);
	background-position: 0px -192px;
}

.banner-botones-voto-a-favor a .boton-positivo {
	background-image: url(../img/voto-positivo-todo.jpg);
	background-position: 0px -96px;
}

.banner-botones-voto-a-favor a .boton-negativo {
	background-image: url(../img/voto-negativo-todo.jpg);
	background-position: 0px -288px;
}

.banner-botones-voto-en-contra a .boton-positivo {
	background-image: url(../img/voto-positivo-todo.jpg);
	background-position: 0px -288px;
}

.banner-botones-voto-en-contra a .boton-negativo {
	background-image: url(../img/voto-negativo-todo.jpg);
	background-position: 0px -96px;
}

.banner-botones-voto-a-favor a .boton-positivo p{
	padding-left: 135px;
}

.banner-botones-voto-a-favor a .boton-negativo p{
	padding-left: 135px;
}

.banner-botones-voto-en-contra a .boton-positivo p{
	padding-right: 135px;
}

.banner-botones-voto-en-contra a .boton-negativo p{
	padding-right: 135px;
}


.boton-positivo {
	float: left;
	width: 453px;
	height: 69px;
	background-image: url(../img/voto-positivo-todo.jpg);
	background-repeat: no-repeat;
	padding-top: 27px;
	text-align: left;
}

.boton-positivo p{
	padding-left: 160px;
}

.boton-negativo p{
	text-align: right;
	padding-right: 160px;
}

.boton-negativo {
	float: right;
	width: 453px;
	height: 68px;
	background-image: url(../img/voto-negativo-todo.jpg);
	background-repeat: no-repeat;
	padding-top: 27px;
}

.banner-parte-superior {
	width: 100%;
	float: left;
	height: 50px;
}

.banner-parte-superior h5 {
	float: left;
	width: 231px;
	height: 24px;
	text-align: left;
	color: #666;
	padding-top: 6px;
	background-image: url(../img/spriteJPG.jpg);
	background-repeat: no-repeat;
	background-position: -915px -452px;
	padding-left: 34px;
	margin-left: 40px;
	margin-top: 20px;
}



.banner-parte-superior h5 a {
	text-decoration: none;
	color: #666;
}

.banner-parte-superior h5 a:hover {
	text-decoration: underline;
	color: #333;
}

.redes-sociales-banner {
	float: right;
	height: 35px;
	margin-top: 27px;
	margin-right: 48px;
}

.twitterBanner {
	float: right;
	width: 100px;
	height: 35px;
}

.redes-sociales-banner .fb-like{
	float: right;
	width: 125px;
	height: 35px;
	margin-right: 0px;
}

.fb-comments {
	float: left;
	margin-left: 40px;
	width: auto;
	height: auto;
}

.otras-leyes {
	float: right;
	min-height: 273px;
	width: 265px;
	border: 1px;
	border-color: #CCC;
	border-style: inset;
	margin-bottom: 21px;	
}

.otras-leyes a {
	color: #333;
	text-decoration: none;
}

.otras-leyes a:hover {
	text-decoration: underline;
}

.otras-leyes h4 {
	float: left;
	width: 100%;
	height: 21px;
	background-color: #f19800;
	text-align: center;
	color: #FFF;
	padding-top: 4px;
}

.otras-leyes h3 {
	float: left;
	width: 231px;
	height: 24px;
	text-align: left;
	color: #666;
	padding-top: 6px;
	background-image: url(../img/spriteJPG.jpg);
	background-repeat: no-repeat;
	background-position: -915px -452px;
	padding-left: 34px;
	overflow: hidden;
}

.otras-leyes .fondo-gris {
	background-color: #edeef0;
}

.fondo-otras-leyes {
	float: right;
	min-height: 297px;
	width: 290px;
	margin-right: 42px;	
	background-image: url(../img/spriteJPG.jpg);
	background-repeat: no-repeat;
	background-position: -1px -840px;	
}

.informacion-util {
	float: left;
	width: 984px;
	height: 200px;
	padding-left: 40px;
	font-size: 14px;
	color: #333;
}

.titulo-con-fondo h2 {
	padding-top: 11px;
}

#footer {
	height: auto;
	width: 100%;
	float: left;
	background-color: #2873b6;
	font-family: KlavikaRegular, Arial, Helvetica, sans-serif;
	color: #fff;
}

.footer-todas-leyes {
	float: left;
	width: 904px;
	height: 65px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
}

.footer-todas-leyes h3{
	float: left;
	width: 192px;
	height: 24px;
	text-align: left;
	color: #fff;
	padding-top: 6px;
	font-size: 12px;
	background-image: url(../img/spritesPNG.png);
	background-repeat: no-repeat;
	background-position: 8px -55px;
	padding-left: 34px;
	overflow: hidden;
}

.base-footer {
	height: 93px;
	width: 100%;
	float: left;
	background-image: url(../img/spritesPNG.png);
	background-repeat: no-repeat;
	background-position: center -76px;	
}

.redes-sociales-footer {
	float: left;
	width: 200px;
	margin-left: 140px;
	margin-top: 40px;
}

.redes-sociales-footer a {
	margin-left: 30px;
}

.mail-footer {
	float: right;
	width: 167px;
	margin-right: 140px;
	margin-top: 40px;
	font-size: 12px;
	
}

.mail-footer a {
	margin-bottom: 10px;
	float: left;
	text-align: center;
	width: 200px;
}

#footer a {
	color: #fff;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

.tituloCheckbox {
	float: left;
	width: 850px;
	height: auto;
	margin-left: 60px;
	margin-top: 50px;	
	text-align: left;
	color: #666;		
}

.tituloCheckbox h2 {                                        
	font-size:16px;                                           
	margin-bottom: 20px;                                      
	color: #333;                                              
	text-align: center;                                       
	text-transform: uppercase;                                
}                                                           
                                                            
.tituloCheckbox h3 {                                        
	text-align: justify;                                      
	padding-left: 70px;                                       
	padding-right: 70px;                                      
}

.PopupVoto{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background: rgba(0, 0, 0, 0.8) none;
	z-index:101;
}

.PopupVoto .boxPopup{
	margin:130px auto 0 auto;
	width:569px;
	padding:15px 15px 25px 25px;
	background:#fff;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.PopupVoto .boxPopup .link-cerrar{
	color:#000;
	font-size:14px;
	display:block;
	text-align: center;
	text-decoration: none;
	width: 477px;
	margin-bottom:10px;
	margin-top: 30px;
	float: left;
}

.PopupVoto .boxPopup .link-cerrar2{
	background-image: url(../img/spriteJPG.jpg);
	background-repeat: no-repeat;
	background-position: -927px -511px;
	display:block;
	text-decoration: none;
	width: 15px;
	height: 15px;
	margin-top: -2px;
	float: right;
}


.PopupVoto .boxPopup .link-cerrar:hover{
	text-decoration: underline;
}

.PopupVoto .boxPopup .clear{
	clear:both;
	background:#e4e4e4;
	color:#e4e4e4;
	border:0;
}

.titulo-con-fondo-chico {
	float: left;
	width: 560px;
	text-align: center;
	height: 50px;
	background-image: url(../img/spriteJPG.jpg);
	background-repeat: no-repeat;
	background-position: -287px -1012px;
	color: #FFF;
	padding-top: 26px;
}

.PopupVoto .boxPopup p,.botonCompartirPopUp{
	font-size: 16px;
	width: 239px;
	float: left;
	text-align: center;
	margin-top: 10px;
	
}

.PopupVoto .contentPopUp {
	float: left;
	width: 478px;
	margin-left: 45px;
}

.PopupVoto .botonCompartirPopUp {
	margin-top: 17px;
}

.PopupVoto .tituloComunidadPopUp {
	float: left;
	width: 477px;
}

.PopupVoto .fb-like-box {
	float: left;
	width: 477px;
	text-align: center;
	margin-top: 40px;
}

.redesSocialesColumndaDerecha {
	float: right;
	width: 266px;
	margin-right: 42px;		
}
.comentarios {
	float: left;
	width: 652px;
	margin-bottom: 40px;
}
.columnaDerecha {
	float: right;
	width: 327px;
}

.redesSocialesColumndaDerecha .twitter-follow-button {
	float: left;
	margin-top: 26px;
	margin-left: 30px;
}

.redesSocialesColumndaDerecha .fb-like-box {
	float: left;
	margin-top: 39px;
	margin-bottom: 30px;
}